<div class="store list">
<h1>Stores</h1>

<table class="listing" summary ="Store list">
  <thead>
    <tr class="header">
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <td><%= link_to(store.name, 'departments#index')%><td><%= store.location %></td>
      <td><%= store.location%></td>
       <td class="center"><%= store.departments.size %></td>
       </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
fasddsa
<%= link_to 'Back', user_path %>
