<p id="notice"><%= notice %></p>
<div class="store show">
	<h1>Stores</h1>

<table summary="Store detail view">
 <tr>
	<th>Name</th>
	<td><%= @store.name %><td>
 </tr>
 <tr>
	<th>Location</th>
	<td><%= @store.location %><td>
 </tr>
 <tr>
	<th>Map</th>
	<td><%= @store.map%><td>
 </tr>
 </table>
</div>

<%= link_to 'Back', stores_path %>
