<div class="item list">
<h1>Items</h1>
<table>
  <thead>
    <style>
      th,td
        {
          border:1px solid black;
        }
         table
        {
          border:2px solid black;
        }
    </style>
    <tr>
       <th>Name</th>
       <th>Isle</th>
      <th>Quantity</th>
   </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.isle %></td>
        <td><%= item.quantity %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to("<< Back to Stores", {:controller => "stores", :action => 'index', :class => 'back-link'})%>




