<!DOCTYPE html>
<html>
<head>
  <title> full title(yield(:title))</title>              
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
	<%= render 'layouts/header' %>
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>
				<%= link_to "store nav", root_path, id: "logo" %>
					<nav>
						<ul class="nav pull-right">
							<li><%= link_to "Home", root_path %></li>
							<li><%= link_to "Help", help_path %></li>
							<li><%= link_to "Sign in", '#' %></li>
						</ul>
					</nav>
			</div>
		</div>
	</header>
	<div class="container">

		<%= yield %>   <!--yields to the templates-->
		 <%= render 'layouts/footer' %>
		 <%= debug(params) if Rails.env.development? %>
	</div>           

</body>
</html>
